/*==========  CSS Reset  ==========*/

html, body, div, span, h1, h2, h3,
h4, h5, h6, p, ol, ul, li, article,
aside, footer, header, nav, section, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/*==========  Navigation  ==========*/

/*==========  Header  ==========*/

/*==========  Main Content  ==========*/

.link {
    text-align: center;
}

.link a {
    font-size: 75px;
    text-decoration: none;
    color: #000;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: scale3d(0,0,0);
    -ms-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0);
    -webkit-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
}

.modal-content {
    position: relative;
    background-color: #fff;
}

.modal-content img {
    max-width: 932px;
    max-height: 540px;
    padding: 30px;
    display: block;
}

.modal-close {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.modal-visible {
    -webkit-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

/*==========  Footer  ==========*/

/*==========  For Desktop First  ==========*/

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {
    .modal-content img {
        max-width: 708px;
        max-height: 458px;
    }
}

@media only screen and (max-width : 768px) {
    .modal-content img {
        max-width: 420px;
    }
}

@media only screen and (max-width : 480px) {
    .modal-content img {
        max-width: 315px;
        max-height: 346px;
    }
}

@media only screen and (max-width : 320px) {

}